[submodule "libs/cpp-jwt"]
	path = libs/cpp-jwt
	url = https://github.com/arun11299/cpp-jwt.git
[submodule "libs/cpp-base64"]
	path = libs/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
